packaging_format = 2

id = "emailpoubelle"
name = "EmailPoubelle"
description.en = "Create throwable email address redirected to your real one"
description.fr = "Créez des adresses email jetables qui redirigent les mails vers votre adresse réelle"

version = "2025.01.23~ynh1"

maintainers = ["Krakinou"]

[upstream]
license = "Beerware"
demo = "https://poubelle.zici.fr"
code = "https://framagit.org/kepon/emailPoubellePhp"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso =  false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/poubelle"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]
        [resources.sources.main]
        url = "https://framagit.org/kepon/emailPoubellePhp/-/archive/6801cfcc727bc619135116afab684976f232b197/emailPoubellePhp-6801cfcc727bc619135116afab684976f232b197.tar.bz2"
        sha256 = "aacbcd70e99f9404f9e7bc2c10cd7d4af5a505d078af9541efc8f99f9430c0bd"
        autoupdate.strategy = "latest_gitlab_commit"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server, php8.3-geoip, php8.3-mysql"

    [resources.database]
    type = "mysql"
